<h1>ConVoter</h1>
<% @conferences.each do |conference| %>
  <div class='conference'>
    <%= link_to conference do %>
      <%= conference.name %>
      <%= conference.year.presence %>
      <br>
      <%= [conference.starts_at.to_s(:long_ordinal), conference.starts_at.to_s(:long_ordinal)].join('-') %>
    <% end %>
  </div>
<% end %>
