 @import "bootstrap-sprockets";
 @import "bootstrap";

 .navbar-header h1 {
   padding-bottom: 1rem;
 }

 .navbar-text {
   padding-right: 2rem;
 }

.slot h3 {
  background-color: #DEDEDE;
}

.talk {
  // border-bottom: 1px solid #dedede;
}

.talk.going h4 a {
  color: red;
}

.talk small {
  color: #337ab7;
}
