 @import "bootstrap-sprockets";
 @import "bootstrap";

 .navbar-header h1 {
   padding-bottom: 1rem;
 }

 .navbar-text {
   padding-right: 2rem;
 }

.panel {
  margin-bottom: 0;
}

.talk.going h4 a {
  color: red;
}

.talk small {
  color: #337ab7;
}
